:root{
    --nero: black;
    --rosso: rgb(255, 42, 0);
    --accento: rgb(255, 95, 247); 

}

@font-face {
    font-family: "PP Neue Montreal Book";
    src: url("PPNeueMontreal-Book.otf") format("opentype");
    
}



body{
    
    font-family: "PP Neue Montreal", sans-serif;
    font-size: 16px;
    background-color: var(--rosso);
    color: rgb(0, 0, 0);
    margin: 7px;
}

.navigatore{
    
    border-bottom: 1px solid var(--nero);
    line-height: 190%;
    
}

.navigatore h2{
    margin: 7px 0 ;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.1rem;
}

.corpo p{
    
    line-height: 145%;
}

.links{
    border: 1px solid var(--nero);
    border-radius: 30px;
    padding: 12px;
    text-align:center;

    
}

.links:hover{
    background-color: var(--accento);
    

}

.corpo a{
    color: var(--nero);
    text-decoration: none;
}

.scarpa{
    background-color: var(--rosso);
    border-top: 1px solid var(--nero);
    padding-bottom: 10px;
    padding: 10px 0;
}

.scarpa a{
    display: inline;
    text-decoration: none;
    color: var(--nero);
    float: right;
    text-decoration: underline;
}

.scarpa p{
    display: inline;
    
}

@media (min-width: 1200px) {
    .paragrafo{
        width: 50%;
        
    }

    .navigatore{
        padding: 10px 0;
    }

    h2{
        display: inline;
    }

    #data{
        float: right;
        margin: 0;
    }
}