* {
    margin:0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

h1 {
    color: lightcyan;
}

h1:hover{
    background-color: red;
    color: black;
    cursor: pointer;
}

.introduzione{
    color: burlywood;
}

#secondoP{
    color: pink;
}

p.testo{
    color:blueviolet;
}

h2.testo{
    color: aqua;
}

.introduzione .testo{
    font-size: 50px;

}

.box{
    width: 500px;
    border: 1px solid teal;
    padding: 10px;
    margin:10px;
    overflow: visible;
}

#figlio{
    max-width: 2000px;
    min-width: 500px;
    height:max-content;
    border:1px solid red;
    margin: 5px auto;
    box-sizing:border-box;
    
}

#figlio p{
    text-align: center;
}

#nipote{
    height:100px;
}