body {
    background-color: rgb(31, 31, 31);
    color: rgb(240, 240, 240);
} 

h4 {
    font-family: "Raleway", Helvetica, sans-serif;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 50px 150px 100px 1000px;
}


a {
    color: rgb(31, 31, 31);
}

    a:hover{
    color:  rgb(0, 200, 255);
    cursor: pointer;
}




.button {
    width: 20vw;
    height: 5vw;
    margin: 5px;
    border: 2px solid rgb(240, 240, 240);
    color: rgb(240, 240, 240);
    display: inline-block;
}

.button:hover {
    border: 2px solid rgb(240, 240, 240);
    background-color: rgb(0, 200, 255);
    color: rgb(31, 31, 31);
    cursor: pointer;
} 

p{
    font-family: "Raleway", Helvetica, sans-serif;
    width: fit-content;
    margin: 20px auto;
}







