*{
    margin:0;
    }
body{
    background-color: black;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    
}

h1{
    color:red;

}

h1:hover{
    background-color: red;
    color: black;
    cursor: pointer;
}
.introduzione{
    color:blue;

}

#secondoP{
    color:orange;

}

p.testo{
    color:blueviolet;
}

.testo, .introduzione{
    font-size: 50px;
}

.box{
    max-width: 1500px;
    min-width: 1000px;
    border:1px solid white;
    padding:10px 15px 5px 8px;
    margin:100px 10px 8px 5px;
    overflow: hidden;

}

#figlio{
    visibility: hidden;
    width: 2000px;
    height: max-content;
    border: 1px solid red;
    margin:5px auto;
    box-sizing: content-box;
    

}

#figlio p{
    text-align: center;
}

