.box, .box2 {
    width: 500px;
    height: 300px;
    border: 2px solid black;
    padding: 5px 10px 5px 10px;
    margin: 10px 20px;
}

.childBox {
    width: 100px;
    height: 100px;
    border: 2px solid red;
}

.leftFloat {
    float: left;
}

.rightFloat {
    float: right;
    height: 150px;
}

.easy, .clear{
    border: 5px solid black;
}

.clear{
    clear: right;
    width: 100%;
}