/* per vapire cosa sta succedendo
*{
    border: 1px dashed red;
} */

/* per dichiarare una variabile in CSS
:root{
    --name: value;
} */

:root{
    --bianco: rgb(240, 240, 240);
    --nero: rgb(10, 10, 10);
    --accento: rgb(0, 255, 0);
}

@font-face {
    font-family: "Televideo";
    src: url(Televideo.otf);
}


body{
    font-family: "VT323", Helvetica, sans-serif;
    font-size: 25px;
    background-color: rgb(10, 10, 10);
    color: rgb(240, 240, 240);
    /* pre mettere in maiusolo, minuscolo.... */
    text-transform: uppercase;
    margin: 5px 5px 0 5px;
    /* per richiamare la variabile
    color: var(--bianco); */
    color: var(--bianco);
    background-color:  var(--nero);
}

.paragrafo{
    font-size:16px;
    background-color: yellow;
    margin: 0 0px 5px 0px;
}

.navigatore{
    border-bottom: 10px solid var(--bianco);
    background-color: red;
}

.navigatore h1{
    font-family: "Televideo", Helvetica, sans-serif;
    text-align: left;
    display: inline;
}

.navigatore h2{
    margin: 5px 5px;
    /* per aumentare il peso 
    font-weight: 400; */
    font-family: "VT323";
    text-align: right;
    display: inline;
    font-size: 16px;
}


.corpo p{
    color: rgb(250, 0, 0);
    font-size: 29px;
    /* per impostare fino a dove arriva il testo orizzontale
    width: 50vw; */
    line-height: 120%;
}

.links{
    /* border: 5px solid rgb(240, 240, 240);
    border-radius: 30px; */
    text-align: center;
    color: var(--bianco);
    background-color: blue;
    font-size: 16px;
    margin: 5px 0 5px 0;
}

.links:hover{
    color: var(--nero);
    background-color: var(--accento);
}

.corpo a{
    text-decoration: none;
    
}

.scarpa{
    background-color: var(--nero);
    border-top: 10px solid var(--bianco);
    font-size: 29px;
    text-align: center;
}

.scarpa a{
    text-decoration: none;
    color: var(--bianco);
    display: inline;
    background-color: rgb(250, 0, 0);
}

/* per modificare la pagina in funzione dello schermo in cui la vedi */
@media (min-width: 800px) {
    body{
        margin: 30px;
        text-size-adjust: 50px;
    }
    
    .paragrafo{
        width: 100%;
    }

    .navigatore{
        font-size: 50px;
    }

    #data{
        float: right;
        margin: 5px;
        font-size: 30px;
    }
}