:root{
    --bianco: rgb(240,240,240);
    --nero: rgb(15,15,15);
    --accento: rgb(255, 111, 253);
}

@font-face {
    font-family: 'TakeOff_bold';
    src: url(font/Takeoff-A2180ExtraBold.otf) format("opentype");
}
@font-face {
    font-family: 'TakeOff_light';
    src: url(font/Takeoff-A1050ExtraLight.otf) format("opentype");
}


body{
    font-family: "TakeOff_light"; 
    font-size: 30px;
    background-color: var(--nero);
    color:var(--bianco);
    margin: 30px;
    text-decoration: none;
}

.logo-container {
    text-align: left;
    margin: 0;
    padding: 0;
}

.logo-container:hover{
    color: var(--accento);
}

img {
    width: 3vw;
    height: auto;
}

.logo{
    border-bottom: solid var(--bianco);
}

.navigatore h2{
    font-family: "TakeOff_bold";
    margin: 5px 0;
    font-weight: bold;
    font-size: 2.1em;
}

.corpo p{
    font-family: "TakeOff_light";
    width: 50vw;
    line-height: 145%;
  
}

.links {
    border: 1px solid var(--bianco);
    border-radius: 30px;
    text-align: center;
    padding: 30px, 0;
    color: var(--bianco);
    width: 100%;
    padding: 20px;
    text-decoration: none;
}


.links:hover{
    color: var(--nero);
    background-color: var(--accento);
    text-decoration:none;
}

.corpo a{
    color: var(--bianco);
    text-decoration: none;

}

.scarpa{
    background-color: var(--nero);
    padding: 10px, 0;
    border-top: 1px solid var(--bianco);
}

.scarpa a{
    display: inline;
    text-decoration: none;
    color: var(--bianco);
    float: right;
}

.scarpa p{
display: inline;
}

@media (min-width: 800px) { 
    .body{
        margin: 30px 30px;
    }
    .paragrafo{
        width: 50%;
        font-size: 1.2em;
    }
    .navigatore{
        padding: 10px 0;
    }
    h2{
        display: inline;
    }
    #data{
        margin: 0;
    }  
}

