:root{
    --bianco: rgb(240,240,240);
    --nero: rgb(15,15,15);
    --accento: rgb(9, 255, 0);
}

body{
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--nero);
    color:var(--bianco);
    margin: 5px;
}

.navigatore{
    border-bottom: solid var(--bianco);
}

.navigatore h2{
    margin: 5px 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.1em;
}

.corpo p{
    line-height: 145%;
}

.links{
    border: 1px solid var(--bianco);
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    color: var(--bianco)
}

.links:hover{
    color: var(--nero);
    background-color: var(--accento);
}

.corpo a{
    color: var(--bianco);
    text-decoration: none;
}

.scarpa{
    background-color: var(--nero);
    padding: 10px, 0;
    border-top: 1px solid var(--bianco);
    
}

.scarpa a{
    display: inline;
    text-decoration: none;
    color: var(--bianco);
    float: right;
}

.scarpa p{
display: inline;
}

@media (min-width: 800px) {
    .body{
        margin: 30px 30px;
    }
    .paragrafo{
        width: 50%;
        font-size: 1.2em;
    }
    .navigatore{
        padding: 10px 0;
    }
    h2{
        display: inline;
    }
    #data{
        float:right;
        margin: 0;
    }
}